<h3 class="mb-4 px-0">My Friends</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Email</th>
            <th scope="col">Full Name</th>
            <th scope="col" colspan = "2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @friends.each do |friend|%>
            <tr>
                <td><%= friend[:email] %></td>
                <td><%= friend[:fullname] %></td>
                <td>
                    <div class="d-flex">
                        <%= link_to 'View Profile', user_path(friend), class: 'btn btn-sm btn-success' %>
                        <%= link_to 'Stop following', friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning mx-2' %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>