<h3 class="mb-4">Search Friends</h3>

<%= form_with url: serve_search_friend_path, method: :get, local: false do |f| %>
    <div class="input-group mb-3">
        <%= f.text_field :friend, placeholder: 'Name or email', autofocus:true, class: 'form-control' %>
        <div class="input-group-append">
            <%= button_tag type: :submit, class: "btn btn-success", id:"button-addon2" do %>
                <%= fa_icon 'search' %> 
            <% end %>
        </div>
    </div>
<% end %>

<div id="errors"></div>
<div id="friend-result"></div>