 <% if !obj.blank? && obj.any? %>
    <p class="card-text"><span class="font-weight-bold">Author(s): </span>
        <% obj.each do |author| %>
            <%= author %> 
        <% end %>
    </p>
<% end %>