<%= form_with url: catalog_search_path, method: :get do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :book, placeholder: "Search terms", autofocus:true, id:"search-input", class: 'form-control' %>
    <div class="input-group-append">
      <%= button_tag type: :submit, class: "btn btn-success", id:"button-addon2" do %>
          <%= fa_icon 'search' %> 
      <% end %>
    </div>
  </div>
<% end %>